body {
  color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.Topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 25px;
}

.web {
  text-decoration: underline;
}

.intro{
width: 30%;
margin: auto;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.design-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.management-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me-p {
  width: 30%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
	background-color:#3cdecb;
	border-radius:9px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:14px 26px;
	text-decoration:none;
	text-shadow:0 0 1px #2b665e;
}
.btn:hover {
	background-color:#3ba19e;
}
.btn:active {
	position:relative;
	top:1px;
}
